#header-menu {
  position: fixed;
  top: 0;
  align: center;
  width: 100%;
  background: #4286f4;
  color: white;
}

#header-title {
  margin-left: 50px;
  float: left;
}

#header-button {
  background: #4286f4;
  float: right;
  color: white;
  border: none;
  padding: 32px 30px;
  text-decoration: none;
  font-family: Arial;
}

#header-button:hover {
  background: #1f64d3;
}

#main-button-login {
  position: absolute;
  margin-top: 50px;
  background: #ffce82;
  float: right;
  color: black;
  border: none;
  width: 90px;
  height: 15px;
  padding: 26px 100px;
  text-align: center;
  font-size: 18px;
  border-radius: 40px;
  text-decoration: none;
  font-family: Arial;
}

#main-button-signup {
  position: absolute;
  margin-top: 170px;
  background: #ffce82;
  float: right;
  color: black;
  border: none;
  width: 90px;
  height: 15px;
  padding: 26px 100px;
  text-align: center;
  font-size: 18px;
  border-radius: 40px;
  text-decoration: none;
  font-family: Arial;
}

#main-button-login:hover {
  background-color: #ff5f54;
}

#main-button-signup:hover {
  background-color: #ff5f54;
}

#left-panel {
  float: left;
  position: absolute;
  top: 30%;
  left: -2%;
}

#right-panel {
  float: right;
  position: absolute;
  left: 70%;
}

#login-button {
  margin-top: 135px;
  cursor: pointer;
  font-family: Helvetica, Arial, sans-serif;
}

#welcome {
  float: right;
}

#picture {
  float: right;
  position: absolute;
  width: 50px;
  height: 80px;
  margin-right: 50px;
}

.grad {
  background-image: linear-gradient(50deg, red, yellow);
}

.hidden {
  display: none;
}

body {
  height: 100vh;
  margin: 0;
}

p {
  font-family: Arial;
}

h1 {
  font-family: Arial;
}

h2 {
  font-family: Arial;
}

ul {
  list-style-type: none;
  border: 2px solid black;
}

li {
  font-family: Arial;
  padding: 2%;
}
